@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('../assets/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

#all {
    position:absolute;
    left: 10%;
    top: 10%;

}

#update {
    position:absolute;
    left: 10%;
    top: 20%;

}

#ajax{
    position:absolute;
    left: 10%;
    top: 30%;
}

#p{
    position:absolute;
    left: 10%;
    top: 40%;
}