@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('../assets/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 430px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgb(245, 143, 92);
}

.card-header h3{
    color: white;
}

#all {
    position:absolute;
    left: 10%;
    bottom: 10%;
}


